:root {
    --red-bg-sub-text: #FFFFFF;
    
}


body {
    background-image: url(../images/nza_background.jpg);
    
}

.btn-secondary {
    margin-top: 0px;

}

button.btn.btn-secondary.directions {
    margin: 5px;
}

button.btn.btn-secondary.career {
    margin: 5px;
}

img.news {
    padding: 10px;
}

div#logo {
    margin-top: 50px;
    
}

img#forwardThinking {
    width: 95%;
}


#footer-main { 
    margin-top: 25px;

}


li.list-group-item {
    background-image: url(../images/nav_side_sub.jpg);
    background-size: cover;
    background-repeat: none;
    color: var(--red-bg-sub-text);

}
li.list-group-item.where {
    background-image: url(../images/other_links_background.jpg);
    background-size: contain;
    background-repeat: none;
    
}


nav.navbar {
    border-top: solid black;
}

h2 > hr {
    border: none;
    background-color: white;
    height: 10px;

}

div.container {
    border-top: 2px solid darkgray;
    border-bottom: 1px solid black;
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 10px;
    text-align: center;
}

div.col-sm-auto {
    border-right: 1px solid gray;
}

div.col-address {
    margin-top: 25px;
}

div.col-welcome {
    margin-left: 25px;
    margin-top: 25px;
}

div.col-last {
    border: none;
}

ul#address {
    list-style: none;
    font-weight: 100;
}

a.nav-links {
    color: black;
    text-decoration: none;
    font-weight: 300;
}

li.list-group-item.contact {
    margin-left: 25px;
}

p#join {
    font-weight: 200;
}
img#img-contact {
    width: 40rem;
}

ul#contact-details {
    list-style: none;
    padding: 0px;
}

ul.where {
    padding-right: 25px;

}

h6#where-main {
    color:brown;
}

p.where {
    color: brown;
    font-weight: 300;
}

h6#where-main2 {
    color: black;
    
}
p#join2 {
    color: black;
    font-weight: 300;
}

/* "What We Do" Specific*/

#wwdsb{
    display: block;
    margin: auto;
    padding-bottom: 10px;
    
}