:root {
    --red-bg-sub-text: #FFFFFF;
    --white-bg-brown-subtxt: #964B00;
    --white-bg-black-subtxt: #000000;
    --background-color-white: #FFFFFF;
    
}

/* Style on all pages */
body {
    background-image: url(../images/nza_background.jpg); 
}

.btn-secondary {
    margin-top: 0px;
}

button.btn.btn-secondary.directions {
    margin: 5px;
}

button.btn.btn-secondary.career {
    margin: 5px;
}

img.news {
    padding: 10px;
}

div#logo {
    margin-top: 50px;
}

footer#footer-main { 
    margin-top: 25px;
    text-align: center;
    
}
/* Style on all pages */

/* Style on 'Who We Are' page */
img#forwardThinking {
    width: 95%;
}

#sidebar{
    background-image: url(../images/nav_side_sub.jpg);
    background-size: cover;
    background-repeat: none;
    color: var(--red-bg-sub-text);

}

li.list-group-item.where {
    background-image: url(../images/other_links_background.jpg);
    background-size: contain;
    background-repeat: none;
    
}


nav.navbar {
    border-top: solid black;
}

h2 > hr {
    border: none;
    background-color: var(--background-color-white);
    height: 10px;

}

div.container {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 10px;
    text-align: center;
}

div.col-sm-auto {
    border-right: 1px solid gray;
}

div.col-address {
    margin-top: 25px;
}

div.col-welcome {
    margin-left: 25px;
    margin-top: 25px;
}

div.col-last {
    border: none;
}

ul#address {
    list-style: none;
    font-weight: 100;
}

a.nav-links {
    color: var(--white-bg-black-subtxt);
    text-decoration: none;
    font-weight: 300;
}

li.list-group-item.contact {
    margin-left: 25px; 
}

p#join {
    font-weight: 200;
}
img#img-contact {
    width: 40rem;
}

ul#contact-details {
    list-style: none;
    padding: 0px;
}

ul.where {
    padding-right: 25px;

}

h6#where-main {
    color: var(--white-bg-brown-subtxt);
}

p.where {
    color: var(--white-bg-brown-subtxt);
    font-weight: 300;
}

h6#where-main2 {
    color: var(--white-bg-black-subtxt);
    
}
p#join2 {
    color: var(--white-bg-black-subtxt);
    font-weight: 300;
}

/* Image Specific CSS */

#wwdsb{
    display: block;
    margin: auto;
    padding-bottom: 10px;
    
}

#wwwmap{
    display: block;
    margin: auto;
    padding-bottom: 10px;
}

#lawyers{
    display: block;
    margin: auto;
    padding-bottom: 10px;
}

.wrapper {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.container-footer{
    border-top: 2px solid black;
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 10px;
}

h2 > hr {
    border: none;
    background-color: white;
    height: 10px;

}

li.list-group-item-1{
    color: black; 
    border: none;
    list-style-type: none;
    padding-bottom: 30px;
    line-height: 5px;
}

h5 {
    border-bottom: 2px solid;
    padding-bottom: 10px;
    border-color: grey; 
}  

div.container-footer {
    border-top: 2px solid black;
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 10px;
}

span.background.bg-darkred {
    background-color: #943434;
}