h2 > hr {
    border: none;
    background-color: white;
    height: 10px;

}

li.list-group-item-1{
    color: black; 
    border: none;
    list-style-type: none;
    padding-bottom: 30px;
    line-height: 5px;
}

h5{
    border-bottom: 2px solid;
    padding-bottom: 10px;
    border-color: grey; 
}