/*.container-where{
    background-image: url(../images/nav_side_sub.jpg);
    background-size: contain;
    background-repeat: none;
    color: white;
    margin-left: 30%;
    padding-left: 70px;
    padding-top: 20px;
    padding-bottom: 30px;
}*/

h2 > hr {
    border: none;
    background-color: white;
    height: 10px;

}

li.list-group-item{
    color: black; 
    border: none;
}